In [1]:
import pandas as pd
import numpy as np

In [2]:
import pandas as pd

def analyze_large_file(file_path, nrows=5):
    try:
        sample_df = pd.read_csv(file_path, sep='\t', nrows=nrows)
        return sample_df.columns.tolist()
    except Exception as e:
        return f"Error: {str(e)}"

file_path = '100000-Patients/LabsCorePopulatedTable.txt'
columns = analyze_large_file(file_path)

print("Columns in the file:")
for i, col in enumerate(columns, 1):
    print(f"{i}. {col}")

Columns in the file:
1. PatientID
2. AdmissionID
3. LabName
4. LabValue
5. LabUnits
6. LabDateTime

In [3]:
def get_dataframe(file_path):
    get_df = pd.read_csv(file_path, sep='\t',nrows=500 )
    return get_df

In [4]:
labs_core_pop = get_dataframe(file_path)

In [5]:
labs_core_pop

,PatientID,AdmissionID,LabName,LabValue,LabUnits,LabDateTime
0,BF7165BC-CCD9-4CE4-944F-E3C9786B7BF3,1,METABOLIC: ALT/SGPT,40.0,U/L,1974-01-11 21:10:51.930000000
1,BF7165BC-CCD9-4CE4-944F-E3C9786B7BF3,1,CBC: MONOCYTES,0.9,k/cumm,1974-01-11 03:14:30.127000000
2,BF7165BC-CCD9-4CE4-944F-E3C9786B7BF3,1,METABOLIC: GLUCOSE,134.2,mg/dL,1974-01-11 13:57:06.970000000
3,BF7165BC-CCD9-4CE4-944F-E3C9786B7BF3,1,CBC: RDW,15.0,%,1974-01-11 02:10:43.437000000
4,BF7165BC-CCD9-4CE4-944F-E3C9786B7BF3,1,METABOLIC: ALBUMIN,2.8,gm/dL,1974-01-11 18:50:32.400000000
...,...,...,...,...,...,...
495,BF7165BC-CCD9-4CE4-944F-E3C9786B7BF3,5,CBC: MEAN CORPUSCULAR VOLUME,96.0,fl,2008-07-04 11:52:29.307000000
496,BF7165BC-CCD9-4CE4-944F-E3C9786B7BF3,5,METABOLIC: ALK PHOS,133.5,U/L,2008-07-04 04:52:02.807000000
497,BF7165BC-CCD9-4CE4-944F-E3C9786B7BF3,5,CBC: ABSOLUTE LYMPHOCYTES,22.3,%,2008-07-04 07:54:30.800000000
498,BF7165BC-CCD9-4CE4-944F-E3C9786B7BF3,5,CBC: RDW,11.7,%,2008-07-04 03:26:07.543000000
499,BF7165BC-CCD9-4CE4-944F-E3C9786B7BF3,5,URINALYSIS: PH,6.4,no unit,2008-07-03 16:39:14.070000000

In [7]:
AdmissionsCorePop = get_dataframe("100000-Patients/AdmissionsCorePopulatedTable.txt")
AdmissionsCorePop

,PatientID,AdmissionID,AdmissionStartDate,AdmissionEndDate
0,9380F9E3-1927-42F3-9731-03A74D4E4C6B,5,2011-03-23 00:14:52.237,2011-03-28 01:57:56.467
1,0A89658C-C739-45CA-9BF1-CBDDDFB922C0,1,1974-02-10 00:04:28.357,1974-02-16 21:04:43.333
2,0A89658C-C739-45CA-9BF1-CBDDDFB922C0,2,1991-05-22 15:08:52.743,1991-05-29 12:30:08.737
3,0A89658C-C739-45CA-9BF1-CBDDDFB922C0,3,1995-02-26 08:01:26.477,1995-02-28 16:45:04.407
4,0A89658C-C739-45CA-9BF1-CBDDDFB922C0,4,2005-03-17 04:51:15.747,2005-04-04 04:04:14.160
...,...,...,...,...
495,5BB481CD-5652-4EC6-9E5C-427E483D8B2E,3,2008-05-29 14:22:09.547,2008-06-08 06:01:03.753
496,F5DA2F04-4CAC-4615-99C3-6E1385DBF4C6,1,1972-08-28 11:29:45.803,1972-09-16 05:22:29.353
497,F5DA2F04-4CAC-4615-99C3-6E1385DBF4C6,2,1977-09-14 20:32:58.607,1977-09-27 16:24:57.943
498,F5DA2F04-4CAC-4615-99C3-6E1385DBF4C6,3,1996-11-18 04:08:13.887,1996-12-07 17:12:35.557
499,F5DA2F04-4CAC-4615-99C3-6E1385DBF4C6,4,2012-02-07 08:37:22.750,2012-02-13 22:15:56.337

In [9]:
AdmissionsDiagnosesCorePop = get_dataframe("100000-Patients/AdmissionsDiagnosesCorePopulatedTable.txt")
AdmissionsDiagnosesCorePop

,PatientID,AdmissionID,PrimaryDiagnosisCode,PrimaryDiagnosisDescription
0,54C6E968-45B3-46B1-A64F-2CE3124F2A65,3,F80.1,Expressive language disorder
1,54C6E968-45B3-46B1-A64F-2CE3124F2A65,4,R04.81,Acute idiopathic pulmonary hemorrhage in infants
2,54C6E968-45B3-46B1-A64F-2CE3124F2A65,5,I36,Nonrheumatic tricuspid valve disorders
3,9DD23357-9BEB-43E4-802D-1AB7ACDD4A3A,1,H16.43,Localized vascularization of cornea
4,9DD23357-9BEB-43E4-802D-1AB7ACDD4A3A,2,M05.161,Rheumatoid lung disease with rheumatoid arthri...
...,...,...,...,...
495,F45177AD-100E-42BF-96A6-90D73B9ADDC9,4,C47.1,Malignant neoplasm of peripheral nerves of upp...
496,F45177AD-100E-42BF-96A6-90D73B9ADDC9,5,G31.0,Frontotemporal dementia
497,73749810-6C33-406C-9B69-7EB467F62D53,1,C00.1,Malignant neoplasm of external lower lip
498,6106220A-F14E-4441-A067-850E26CA0446,1,M05.172,Rheumatoid lung disease with rheumatoid arthri...
499,6106220A-F14E-4441-A067-850E26CA0446,2,M05.42,Rheumatoid myopathy with rheumatoid arthritis ...

In [15]:
PatientCorePop = get_dataframe("100000-Patients/PatientCorePopulatedTable.txt")
PatientCorePop[50: 99]

,PatientID,PatientGender,PatientDateOfBirth,PatientRace,PatientMaritalStatus,PatientLanguage,PatientPopulationPercentageBelowPoverty
50,8C1225AD-FD47-4454-B72B-DDB42711C228,Male,1951-01-13 18:48:25.183,Unknown,Married,English,3.47
51,2196B9DF-0AE5-4740-83BC-93B7E16BA83D,Female,1940-05-18 11:48:37.187,African American,Single,English,17.54
52,8CF66082-5412-4590-92C2-3ACDB1D1534C,Female,1928-01-02 05:46:44.320,Asian,Single,English,16.95
53,DBB4DDAC-FB32-4637-845D-46860441824E,Male,1955-02-13 15:31:47.110,Unknown,Married,Icelandic,15.68
54,3343A3A8-72E5-4823-87DC-EF8BD4FB30F1,Female,1946-06-23 03:19:13.030,White,Divorced,English,19.14
55,747C3A5F-31FA-4650-BD53-B0690FD7210C,Male,1961-01-22 19:31:15.630,White,Married,English,11.93
56,8D311347-11B0-41FB-ADA3-ED58FAB0E312,Female,1975-09-27 17:00:05.957,White,Married,English,91.49
57,5CB6D718-B3EA-459F-B160-BF06B92CF66A,Male,1978-10-26 11:00:27.947,Asian,Single,English,17.56
58,B7355DB3-E7D3-4597-84A2-8C0AF1A84486,Male,1932-06-09 17:03:43.677,Unknown,Single,English,83.86
59,B2378BDB-5F71-467B-9CA6-8668FFBBDD99,Male,1983-12-27 04:49:01.393,White,Married,Spanish,10.74
60,73FB6F2F-F4D4-4D2E-858F-F32876C85506,Male,1932-08-25 07:11:26.160,White,Married,English,19.28
61,A2347922-205E-4FEB-8092-6AE51FA7CF54,Female,1936-07-26 10:45:41.277,Asian,Married,Icelandic,18.55
62,4EF76E8F-629F-421E-A57D-1EF2702EB3C3,Male,1960-01-16 06:12:15.197,White,Married,English,10.96
63,DB45544E-D241-4966-BF40-701208595449,Male,1965-02-07 23:31:20.737,White,Single,Spanish,82.65
64,AB29C787-4615-42B7-95CF-4EC7B3EDC2D6,Male,1965-02-20 15:54:37.643,Asian,Divorced,Spanish,13.70
65,E3FF132A-1967-4218-8AA8-CA4CBAC05855,Female,1940-06-25 16:54:04.087,Asian,Divorced,Icelandic,16.00
66,8449FBDD-EA18-446C-A1B1-89F761FF1266,Male,1931-07-25 07:28:09.413,White,Married,English,95.95
67,46435C30-ECD2-4BF6-9868-4ED773E5DAE8,Female,1971-09-24 03:40:00.397,Unknown,Married,English,13.91
68,C95E9D57-18AD-4EC2-B537-A1DF2845B61C,Female,1962-02-19 17:24:46.563,White,Single,English,18.49
69,F8CABB32-FBC9-4C43-89E6-D60101A7A073,Male,1957-05-15 04:56:24.667,White,Single,English,6.86
70,6E018A95-3520-4AEF-A5FB-C4CB4FDA5CE7,Female,1945-05-19 12:32:23.900,Asian,Single,English,12.70
71,6D64E5B4-DB10-4DC9-A0BD-05AC703E9DB1,Male,1948-09-06 01:11:46.443,White,Married,English,14.80
72,EC2E94A1-61BA-49EB-BFA3-E7B7921DDDEE,Female,1964-11-05 23:57:00.033,Asian,Single,English,18.95
73,BBDB8407-23D5-41C5-A919-0DF4D201E531,Female,1968-05-12 07:58:54.897,Asian,Single,Icelandic,12.60
74,22A64274-B699-41AC-BD9E-7C289A88CD5A,Female,1977-08-24 09:51:27.830,White,Married,English,11.86
75,B1D7B2EB-9CE1-4533-A828-24C285765EFA,Male,1967-04-02 13:39:31.720,African American,Married,Icelandic,16.62
76,17989C89-FD67-4BD1-BB9D-DAD77AAA5A9B,Female,1950-08-28 19:01:00.810,White,Unknown,Spanish,15.81
77,3F81FE3E-4C05-4101-A9F7-FF8AB2A79C1D,Male,1978-03-11 02:26:30.723,African American,Married,Spanish,7.67
78,A0FE0DEB-58B5-47C6-AA0E-8ABAB107A642,Female,1974-10-11 18:20:11.660,White,Married,English,14.73
79,F2091AC9-779A-4863-91A2-1EEA46573C1E,Male,1926-05-03 11:45:17.037,African American,Married,Icelandic,10.30
80,78C0C54F-3D75-4477-AE6D-910B999B707A,Male,1935-08-02 20:33:54.193,African American,Married,English,15.42
81,8A7B516A-3DB4-47AC-A97B-3AB96C31F8DC,Female,1949-12-12 17:37:23.850,African American,Married,English,18.35
82,EF73C74A-168E-46CC-B05D-28C05BB23C35,Male,1949-02-09 02:48:20.990,White,Single,English,9.55
83,913DF353-9294-4ED8-850C-FCC02E609795,Female,1954-06-15 11:40:01.773,Asian,Divorced,Unknown,7.67
84,136E85F5-64BD-4125-AF7C-158F8D2AD013,Female,1955-09-29 12:05:50.537,White,Divorced,English,94.78
85,D5B219AC-55A8-46C6-8BE3-2809D3BC5C1A,Male,1965-06-22 00:04:35.640,White,Separated,English,84.50
86,9886C3E1-C8D2-4EE2-AFCF-C347B681B8EA,Male,1945-04-10 08:13:52.173,African American,Single,English,12.62
87,4B28652F-C318-453B-AAC5-013ED1C01D14,Female,1973-05-22 00:58:45.760,White,Single,Spanish,12.39
88,5477C08C-4FEA-4C91-BF2C-BEBDEB78D6FC,Male,1960-06-06 22:52:24.653,White,Divorced,English,14.94
89,15F7A801-CAB0-45C3-AFFD-35CB3EE58F4F,Male,1966-04-05 12:21:31.503,Asian,Separated,Spanish,17.36
90,6296A05D-F158-4F0E-A481-CC0BE3D16081,Female,1947-07-13 13:21:12.747,White,Separated,English,91.40
91,0C432E43-3524-4830-AA74-3BFF907CD8DF,Female,1967-05-25 01:27:38.690,Unknown,Divorced,Spanish,17.91
92,FD8EF343-5219-492E-97C2-E344B2F2D407,Male,1983-05-20 02:53:44.393,African American,Single,English,13.60
93,9BE825AC-48C3-4F47-92F0-75A7C5F087CA,Male,1952-07-05 17:54:28.187,White,Married,English,13.70
94,FC645E4B-9A8C-4FF3-93A2-3C42475EAE1F,Male,1986-06-19 00:01:37.567,White,Married,English,11.37
95,536EF9D1-E24B-4C46-8815-963A5E9BDE9E,Female,1928-06-17 05:59:40.880,Unknown,Married,English,8.26
96,80E26874-85AE-4139-A065-68B65F5CC294,Female,1968-12-03 23:08:49.803,African American,Divorced,Icelandic,15.39
97,6F6C9B44-234A-42A2-977D-434BA3121AB1,Male,1985-02-22 21:06:29.633,African American,Single,English,10.89
98,35A78EFA-834D-4360-8643-BEAABE448162,Female,1947-10-24 23:41:20.533,African American,Married,English,13.83